<form #unidad03Form="ngForm" (ngSubmit)="agregarUnidad03(unidad03Form)">
  <div class="card fontAcme">
    <div class="card-body">
      <h1 class="card-title" align="center"> Unidad 03 - Ejecución del Proyecto de Intervención</h1>
      <div class="form-group" align="center">
        <strong>
          <label for="exampleFormControlInput1" class="tituloInput">Informe de Actividades:</label>
        </strong>
        <textarea name="informe_actividades" #informe_actividades="ngModel" [(ngModel)]="unidad03Service.selectedUnidad03.justificacion"
          class="form-control" rows="15"> </textarea>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-9">
            <!-- Botón de guardar -->
            <div class="form-group" align="center">
              <button type="submit" class="btn btn-block btn-success"> <i class="fas fa-save"></i> Guardar </button>
            </div>
          </div>
          <div class="col-3">
            <label  for="exampleFormControlInput1" class="comentarios">Comentarios:</label>
            <textarea disabled name="comentarios" #comentarios="ngModel" [(ngModel)]="unidad03Service.selectedUnidad03.comentarios"
              class="form-control" rows="2"> </textarea>
            <br>
            <label  for="exampleInputEmail1" calificacion="comentarios">Calificación:</label>
            <input disabled name="calificacion" #justificacion="ngModel" [(ngModel)]="unidad03Service.selectedUnidad03.calificacion"
              type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>