<header>
    <nav>
        <ul>
            <li> <a routerLink="/"> <span class="inicio" > <i class="icon fas fa-home"></i></span> Inicio </a></li>                                    
            <li> <a [routerLink]="['/login']"> <span class="queEs"> <i class="icon fas fa-question-circle"></i></span> ¿Qué es?</a></li>            
            <li> <a [routerLink]="['/login']"> <span class="quienesSomos"> <i class="icon fas fa-users"></i></span> ¿Quiénes Somos?</a></li>
            <li> <a routerLink="/escenarios"> <span class="escenarios"> <i class="icon fas fa-map-marker-alt"></i></span> Escenarios </a></li>
            <li> <a [routerLink]="['/login']"> <span class="login"> <i class="icon fas fa-sign-in-alt"></i></span> Iniciar Sesión</a></li>            
            <li> <a [routerLink]="['/register']"> <span class="login"> <i class="icon fas fa-sign-in-alt"></i></span> Regístrate</a></li>
        </ul>
    </nav>
</header>

