<h3 align="center" class="fontAcme"> Selecciona la Unidad a la que deseas ingresar :</h3>

<div class="row" align="center">
  <!-- Unidad 1 -->
  <div class="col-6">
    <div class="card bg-light mb-3 fontMerienda" style="width: 18rem;">
      <div class="card-body">
        <div align="center">
          <img src="../../../assets/diagnostico.png" class="img-fluid" width="80px" height="80">
        </div>
        <br>
        <h5 class="card-title">
           <strong>Unidad I </strong> 
        </h5>
        <p class="card-text"> Diagnóstico </p>
        <a  routerLink="/unidad01" class="btn btn-primary btn-block">Ingresar</a>
      </div>
    </div>
  </div>
  <!-- Fin Unidad 1 -->
  <!-- Unidad 2 -->
  <div class="col-6">
    <div class="card bg-light mb-3 fontMerienda" style="width: 18rem;">
      <div class="card-body">
        <div align="center">
          <img src="../../../assets/elaboracion.png" class="img-fluid" width="80px" height="80">
        </div>
        <br>
        <h5 class="card-title">
          <strong> Unidad II </strong>
        </h5>
        <p class="card-text"> Elaboración de Proyectos y Programas </p>
        <a routerLink="/unidad02" class="btn btn-primary btn-block">Ingresar</a>
      </div>
    </div>
  </div>
  <!-- Fin Unidad 2 -->
</div>

<br>

<div class="row" align="center">
  <!-- Unidad 3 -->
  <div class="col-6">
    <div class="card bg-light mb-3 fontMerienda" style="width: 18rem;">
      <div class="card-body">
        <div align="center">
          <img src="../../../assets/ejecucion.png" class="img-fluid" width="80px" height="80">
        </div>
        <br>
        <h5 class="card-title">
          <strong> Unidad III </strong>
        </h5>
        <p class="card-text"> Ejecución de Proyectos </p>
        <a routerLink="/unidad03" class="btn btn-primary btn-block">Ingresar</a>
      </div>
    </div>
  </div>
  <!-- Fin Unidad 3 -->
  <!-- Unidad 4 -->
  <div class="col-6">
    <div class="card bg-light mb-3 fontMerienda" style="width: 18rem;">
      <div class="card-body">
        <div align="center">
          <img src="../../../assets/sistematizacion.png" class="img-fluid" width="80px" height="80">
        </div>
        <br>
        <h5 class="card-title">
          <strong> Unidad IV </strong>
        </h5>
        <p class="card-text"> Sistematización </p>
        <a routerLink="/unidad04" class="btn btn-primary btn-block">Ingresar</a>
      </div>
    </div>
  </div>
  <!-- Fin Unidad 4 -->
</div>