<app-header></app-header>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="card text-success bg-light mb-3" style="max-width: 50rem;">
      <div class="card-header">
        <h1 align="center"> Iniciar Sesión </h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="form-row align-items-center">

                <!-- Input Username -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-user-circle"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" #numero_cuenta="ngModel" [(ngModel)]="alumnosService.selectedAlumno.nocta" name="numero_cuenta" placeholder="Número de Cuenta" aria-label="Número de Cuenta" aria-describedby="basic-addon1">
                </div>
                <!-- Fin Input Username -->

                <!-- Input Password -->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" #password="ngModel" [(ngModel)]="alumnosService.selectedAlumno.password" name="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <!-- Fin Input Password -->


                <div class="form-group col-md-4" align="center">
                  <button type="submit" class="btn btn-block btn-success"> <i class="fas fa-save"></i> Iniciar Sesión </button>
                </div>

              </div>
            </form>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-4"></div>
</div>