<app-header></app-header>
<div class="row">
  <div class="col-3">
    <h3 align="center" class="fontAcme">Bienvenido:</h3>
    <div class="card bg-light mb-3 fontMerienda">
      <div class="card-header tarjetaHeader " align="center">
        <strong> Hola {{numero_cuenta}} </strong>
      </div>
      <div class="card-body tarjetaBody">
        <div align="center">
          <img src="../../../assets/180x180.jpg" class="img-fluid">
        </div>
        <br>
        <p class="card-text" align="center">
          <strong> Escenario: </strong>
        </p>
        <p class="card-text" align="center">"Las Guásimas"</p>
        <p class="card-text" align="right">
          <small class="text-muted">Grado y Grupo: 7A</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col-9">
  <app-menu></app-menu>
</div>
</div>