.tarjetaHeader {
    background-color: #BBDEFB;    
}

.tarjetaBody {
    background-color:  #E3F2FD
}

.fontMerienda {
    font-family: 'Merienda', cursive;
}

.fontAcme {
    font-family: 'Acme', sans-serif;
}