<div class="container">
  <h1 align="center"> Regístrate en SeGAPI</h1>
</div>

<div class="container">
  .<div class="card">
    <div class="card-body">

      <form #alumnoForm="ngForm" (ngSubmit)="agregarAlumno(alumnoForm)">
        <!-- Primer Grupo -->
        <div class="form-row">
          <div class="form-group col-md-3" align="center">
             <label for="inputEmail4">Número de Cuenta</label> 
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-passport"></i> </span>
              </div>
              <input type="text" class="form-control" name="numero_cuenta" #numero_cuenta="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.nocta" placeholder="Número de Cuenta">
            </div>
          </div>
          <div class="form-group col-md-3" align="center">
            <label for="inputPassword4">Apellido Paterno</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-user-graduate"></i> </span>
              </div>
              <input type="text" class="form-control" name="apellido_paterno" #apellido_paterno="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.apellido_paterno" placeholder="Apellido Paterno">
            </div>
          </div>
          <div class="form-group col-md-3" align="center">
            <label for="inputPassword4">Apellido Materno</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-user-graduate"></i> </span>
              </div>
              <input type="text" class="form-control" name="apellido_materno" #apellido_materno="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.apellido_materno" placeholder="Apellido Materno">
            </div>
          </div>
          <div class="form-group col-md-3" align="center">
            <label for="inputPassword4">Nombre</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-user-graduate"></i> </span>
              </div>
              <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.nombre" placeholder="Nombre">
            </div>
          </div>
        </div>

        <!-- Segundo Grupo -->
        <div class="form-row">
          <div class="form-group col-md-3" align="center">
            <label for="inputEmail4">Grado</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-info"></i> </span>
              </div>
              <input type="text" class="form-control" name="grado" #grado="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.grado" placeholder="Grado">
            </div>
          </div>
          <div class="form-group col-md-3" align="center">
            <label for="inputPassword4">Grupo</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-info"></i> </span>
              </div>
              <input type="text" class="form-control" name="grupo" #grupo="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.grupo" placeholder="Grupo">
            </div>
          </div>
          <div class="form-group col-md-6" align="center">
            <label for="inputPassword4">Correo Institucional</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-user-circle"></i> </span>
              </div>
              <input type="email" class="form-control" name="correo" #correo="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.correo" placeholder="Correo Institucional">
            </div>
          </div>
        </div>

        <!-- Tercer Grupo -->
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputPassword4">Escenario Asignado</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-home"></i> </span>
              </div>
              <input type="text" class="form-control" name="escenario_asignado" #escenario_asignado="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.escenario_asignado" placeholder="Escenario Asignado">
            </div>
          </div>
        </div>

        <hr>
        <!-- Cuarto Grupo -->
        <h2> Crea una contraseña </h2>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputPassword4">Contraseña</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-key"></i> </span>
              </div>
              <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)] = "alumnosService.selectedAlumno.password" placeholder="Contraseña">
            </div>
          </div>
          <div class="form-group col-md-12">
            <label for="inputPassword4">Repite tu Contraseña</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fas fa-key"></i> </span>
              </div>
              <input type="password" class="form-control" name="password02"  placeholder="Repite tu contraseña">
            </div>
          </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4" align="center">
                <button type="submit" class="btn btn-block btn-success"> <i class="fas fa-save"></i> Registrarse </button>
              </div>
          <div class="form-group col-md-4" align="center"></div>
          
          <div class="form-group col-md-4" align="center">
              <button type="submit" class="btn btn-block btn-secondary" (click)="resetForm(alumnoForm)" > <i class="fas fa-broom"></i> Limpiar </button>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>