<form #unidad02Form="ngForm" (ngSubmit)="agregarUnidad02(unidad02Form)">
  <div class="card fontAcme">
    <div class="card-body">
      <h1 class="card-title" align="center"> Unidad 02 - Elaboración de Proyectos y Programas</h1>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Justificación</label>
            </strong>
            <textarea  required name="justificacion" #justificacion="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.justificacion"
              class="form-control" rows="4"> </textarea>
          </div>
          <div class="col-6">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Objetivos del Proyecto</label>
            </strong>
            <textarea  required name="objetivos_proyecto" #objetivos_proyecto="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.objetivos_proyecto"
              class="form-control" rows="4"> </textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Estrategias:</label>
            </strong>
            <textarea required name="estrategias" #estrategias="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.estrategias"
              class="form-control" rows="2"> </textarea>
          </div>
          <div class="col-4">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Metas:</label>
            </strong>
            <textarea required name="metas" #metas="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.metas" class="form-control"
              rows="2"> </textarea>
          </div>
          <div class="col-4">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Actividades:</label>
            </strong>
            <textarea required name="actividades" #actividades="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.actividades"
              class="form-control" rows="2"> </textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-6">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Recursos Empleados:</label>
            </strong>
            <textarea  required name="recursos_empleados" #recursos_empleados="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.recursos_empleados"
              class="form-control" rows="4"> </textarea>
          </div>
          <div class="col-6">
            <strong>
              <label for="exampleFormControlInput1" class="tituloInput">Evaluación del Proyecto</label>
            </strong>
            <textarea required name="evaluacion_proyecto" #evaluacion_proyecto="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.evaluacion_proyecto"
              class="form-control" rows="4"> </textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-9">
            <!-- Botón de guardar -->
            <div *ngIf="!updateAvailable" class="form-group col-md-5" align="center">
              <button type="submit" class="btn btn-block btn-success"> <i class="fas fa-save"></i> Guardar </button>
            </div>
            <div *ngIf="updateAvailable" class="form-group col-md-5" align="center">
              <button type="submit" class="btn btn-block btn-info"> <i class="fas fa-save"></i> Actualizar </button>
            </div>
          </div>
          <div class="col-3">
            <label for="exampleFormControlInput1" class="comentarios">Comentarios:</label>
            <textarea disabled name="comentarios" #comentarios="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.antecedentes_comunidad"
              class="form-control" rows="2"> </textarea>
            <br>
            <label for="exampleInputEmail1" class="comentarios">Calificación:</label>
            <input disabled name="calificacion" #calificacion="ngModel" [(ngModel)]="unidad02Service.selectedUnidad02.calificacion"
              type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>